<header>

  <svg xmlns="http://www.w3.org/2000/svg" height="44" width="64">

    <title>Altar</title>

    <polygon points='20,36 21,36 31,14 40,36 44,36 32.5,8.5'></polygon>

  </svg>

  <h1>

    {{ collection.title }}

  </h1>

  <button ng-click="menu = !menu">

    <svg xmlns="http://www.w3.org/2000/svg" height="44" width="64">

      <line x1="20" y1="17" x2="44" y2="17" />

      <line x1="20" y1="22" x2="44" y2="22" />

      <line x1="20" y1="27" x2="44" y2="27" />

    </svg>

  </button>

</header>

<nav>

  <ul>

    <li>

      <a href="/lfrank/">LFrank</a>

    </li>

    <li>

      <a href="/jacquie-aiche/">Jacquie Aiche</a>

    </li>

    <li>

      <a href="/geoffrey-young/">Geoffrey Young</a>

    </li>

    <li>

      <a href="/spinelli-kilcollin/">Spinelli Kilcollin</a>

    </li>

  </ul>

  <ul>

    <li>

      <a href="/services">Services</a>

    </li>

    <li>

      <a href="mailto:sara@altarjewelry.com">Contact</a>

    </li>

    <li>

      <a href="/about">About</a>

    </li>

  </ul>

</nav>

<main>

  <header>

    <img ng-src="{{ collection.image.src }}">

  </header>

  <article ng-repeat="product in products">

    <figure ng-click="product.caption = !product.caption">

      <img ng-src="{{ image.src }}" ng-repeat="image in product.images">

    </figure>

    <figcaption ng-if="product.caption">

      <h2>

        {{ product.title }}

      </h2>

      <small>

        {{ product.variants[0].price | currency | price }}

      </small>

      <button>

        Purchase

      </button>

      <a href="mailto:s@altarjewelry.com">

        Inquire

      </a>

      <p>

        {{ product.body_html }}

      </p>

    </figcaption>

  </article>

  <aside>

    <h3>

      {{ collection.title }}

    </h3>

    <p>

      {{ collection.description }}

    </p>

  </aside>

  <nav>

    <a ng-href="#{{ product.handle }}" ng-repeat="product in products">

      <img ng-src="{{ product.images[0].src }}">

    </a>

  </nav>

  <nav>

    <a ng-href="/{{ collection.handle }}" ng-repeat="collection in collections">

      <img ng-src="{{ collection.image.src }}">

    </a>

  </nav>

  <form>

    <input type="email" placeholder="Your e-mail address">

    <input type="submit" value="Subscribe">

  </form>

  <footer>

    <i>Illustrations by <a href="#">Myriam Van Damme</a></i>

    <i>Deep space photographs by <a href="http://hubblesite.org/">Hubble</a></i>

  </footer>

</main>

<footer>

  Discover the collection

</footer>

<div class="flow-into">

  <div class="main"></div>

  <div class="footer"></div>

</div>
