<h1>{{ collection.title }}</h1>

<div id="flow-main"></div>

<div id="flow-footer"></div>

<main>

  <header id="header" class="anchor">

    <img id="big-image" ng-src="{{ collection.image.src }}">

    <a class="footer-link" ng-if="isVisible('header')">Discover <em>the</em> Collection</a>

  </header>

  <article id="{{ product.handle }}" class="anchor" ng-repeat="product in products">

    <figure ng-click="showCaption( product )" ng-swipe-left="showNextImage( product )" ng-swipe-right="showPreviousImage( product )" ng-style="product.figurePosition">

      <img id="big-image" ng-src="{{ image.src }}" ng-repeat="image in product.images" ng-if="isImageVisible( product , $index )">

    </figure>

    <figcaption ng-if="product.caption">

      <h2>{{ product.title }}</h2>

      <small>{{ product.variants[0].price | currency | price }}</small>

      <button class="purchase">Purchase</button>

      <button class="inquire">Inquire</button>

      <p>{{ product.body_html }}</p>

    </figcaption>

    <div class="footer-link" ng-if="isVisible( product.handle )">

      <a id="index-icon-link" href="#index">

        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="96">

          <rect x="26" y="43" width="3" height="3"></rect>
          <rect x="32" y="43" width="3" height="3"></rect>
          <rect x="38" y="43" width="3" height="3"></rect>
          <rect x="26" y="48" width="3" height="3"></rect>
          <rect x="32" y="48" width="3" height="3"></rect>
          <rect x="38" y="48" width="3" height="3"></rect>
          <rect x="26" y="53" width="3" height="3"></rect>
          <rect x="32" y="53" width="3" height="3"></rect>
          <rect x="38" y="53" width="3" height="3"></rect>

        </svg>

      </a>

      <a id="footer-product-link" ng-click="showCaption( product )">

        {{ product.title }}
        <small>{{ product.variants[0].price | currency | price }}</small>

      </a>

    </div>

  </article>

  <div id="biography" class="anchor">

    <div id="biography-heading">{{ collection.title }}</div>

    <div class="biography-paragraph">{{ collection.description }}</div>

    <a href="#biography" class="footer-link" ng-if="isVisible('biography')">Biography</a>

  </div>

  <nav id="index" class="anchor">

    <a ng-repeat="product in products" href="#{{ product.handle }}">

      <img ng-src="{{ product.images[0].src }}">

    </a>

    <a href="#subscribe" class="footer-link" ng-if="isVisible('index')">Index</a>

  </nav>

  <nav id="designers" class="anchor">

    <a class="desinger-link" ng-href="/{{ collection.handle }}" ng-repeat="collection in collections">

      <img ng-src="{{ collection.image.src }}">

      {{ collection.title }}

    </a>

    <a href="#designers" class="footer-link" ng-if="isVisible('designers')">Designers</a>

  </nav>

  <form id="subscribe" class="anchor">

    <input type="email" placeholder="Your e-mail address">

    <input type="submit" value="Subscribe">

    <a href="#designers" class="footer-link" ng-if="isVisible('subscribe')">Subscribe</a>

  </form>

  <footer>

    <i>Illustrations by <a href="#">Myriam Van Damme</a></i>

    <i>Deep space photographs by <a href="http://hubblesite.org/">Hubble</a></i>

  </footer>

</main>

<nav id="menu">

  <a href="/lfrank/" class="menu-designer">LFrank</a>
  <a href="/jacquie-aiche/" class="menu-designer">Jacquie Aiche</a>
  <a href="/geoffrey-young/" class="menu-designer">Geoffrey Young</a>
  <a href="/spinelli-kilcollin/" class="menu-designer">Spinelli Kilcollin</a>

  <a href="/services" class="menu-services">Services</a>
  <a href="mailto:sara@altarjewelry.com" class="menu-contact">Contact</a>
  <a href="/about" class="menu-about">About</a>

</nav>

<a id="logo" href="/">

  <svg xmlns='http://www.w3.org/2000/svg' height='44' width='64'>

    <title>Altar</title>

    <polygon points='20,36 21,36 31,14 40,36 44,36 32.5,8.5'></polygon>

  </svg>

</a>

<a id="open" ng-click="menu = !menu">

  <svg xmlns='http://www.w3.org/2000/svg' height='44' width='64'>

    <line x1="20" y1="17" x2="44" y2="17" style="stroke:rgb(239,239,239);stroke-width:1" />

    <line x1="20" y1="22" x2="44" y2="22" style="stroke:rgb(239,239,239);stroke-width:1" />

    <line x1="20" y1="27" x2="44" y2="27" style="stroke:rgb(239,239,239);stroke-width:1" />

  </svg>

</a>
